
<div class="nas-redes">
    <p>
        <strong>GitHub</strong>
        <br/>
        <a href="https://github.com/ramalho">@ramalho</a>
    </p>
    <p>
        <strong>Mastodon</strong>
        <br/>
        <a href="https://ciberlandia.pt/@lr/">@ciberlandia.pt@lr</a>
    </p>
    <p>
        <strong>Bluesky</strong>
        <br/>
        <a href="https://bsky.app/profile/ramalho.org">@ramalho.org</a>
    </p>
    <p>
        <strong>@lucianoramalho</strong>
        <br/>
        <a href="https://www.linkedin.com/in/lucianoramalho/">@lucianoramalho</a>
    </p>
</div>
